/* @media print {
  body,
  html,
  #page-container,
  .scrollable-page,
  .ps,
  .panel {
    height: 100% !important;
    width: 100% !important;
  }
} */

@media print {
  body {
    overflow: visible !important;
    display: block !important;
    page-break-inside: avoid;
  }
}
